# Importing and Inspecting the Data

In [1]:
# import depedencies
import requests as req
import pandas as pd
import datetime as dt

In [2]:
url = 'https://api.covidtracking.com/v1/states/daily.json'

In [3]:
covid_js = req.get(url).json()

In [4]:
covid_all = pd.DataFrame(covid_js)
covid_all.head()

,date,state,positive,probableCases,negative,pending,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201011,AK,10686.0,NaN,492311.0,NaN,502997.0,57.0,NaN,NaN,...,502997,0,0,4aacb815364d3122457f45c98f920aa7995f77ef,0,0,0,0,0,
1,20201011,AL,165342.0,19752.0,1064417.0,NaN,1210007.0,812.0,18179.0,NaN,...,1229759,0,0,02cf214edde9cea4ce3011d61f0ac1d61ae39ffe,0,0,0,0,0,
2,20201011,AR,92833.0,4531.0,1058352.0,NaN,1146654.0,566.0,5910.0,237.0,...,1151185,17,10,893f89e95ede45aee9dcf942af3d21b3895cb2c3,0,0,0,0,0,
3,20201011,AS,0.0,NaN,1616.0,NaN,1616.0,NaN,NaN,NaN,...,1616,0,0,34d1112857d7ad8ba31b78b7976679bb0620e3b4,0,0,0,0,0,
4,20201011,AZ,225575.0,4904.0,1345494.0,NaN,1566165.0,630.0,20253.0,144.0,...,1571069,0,24,8bf88f0ca835566bc62ad20392db8cdd911c4856,0,0,0,0,0,

In [5]:
covid_all.shape

(12421, 55)

In [6]:
covid_all.describe()

,date,positive,probableCases,negative,pending,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,...,total,totalTestResultsIncrease,posNeg,deathIncrease,hospitalizedIncrease,commercialScore,negativeRegularScore,negativeScore,positiveScore,score
count,1.242100e+04,12319.000000,3632.000000,1.218100e+04,1404.000000,1.241000e+04,9543.000000,7109.000000,5456.000000,2049.000000,...,1.242100e+04,12421.000000,1.242100e+04,12421.000000,12421.000000,12421.0,12421.0,12421.0,12421.0,12421.0
mean,2.020064e+07,55831.667587,2864.798458,6.386220e+05,1279.501425,7.029476e+05,857.550875,7038.721198,300.809018,1085.012689,...,6.818003e+05,9292.079543,6.816557e+05,16.632880,34.059577,0.0,0.0,0.0,0.0,0.0
std,2.118828e+02,108942.697039,3767.780340,1.354417e+06,5279.024787,1.451439e+06,1623.490731,14623.459455,543.189277,1033.669039,...,1.441482e+06,17790.901949,1.441437e+06,45.769398,228.938533,0.0,0.0,0.0,0.0,0.0
min,2.020012e+07,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,6.000000,...,0.000000e+00,-336892.000000,0.000000e+00,-213.000000,-4124.000000,0.0,0.0,0.0,0.0,0.0
25%,2.020043e+07,1687.000000,423.000000,3.154600e+04,20.750000,2.996425e+04,103.000000,552.000000,55.000000,284.000000,...,2.953900e+04,573.000000,2.930700e+04,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
50%,2.020062e+07,14651.000000,1589.000000,1.907680e+05,169.500000,2.149110e+05,373.000000,2341.000000,133.000000,803.000000,...,1.999360e+05,3425.000000,1.998610e+05,4.000000,0.000000,0.0,0.0,0.0,0.0,0.0
75%,2.020082e+07,62057.500000,3766.250000,6.475560e+05,550.000000,7.230700e+05,875.000000,7291.000000,284.000000,1511.000000,...,7.013110e+05,10268.000000,7.013110e+05,14.000000,24.000000,0.0,0.0,0.0,0.0,0.0
max,2.020101e+07,846579.000000,26895.000000,1.520042e+07,64400.000000,1.604700e+07,18825.000000,89995.000000,5225.000000,5511.000000,...,1.604700e+07,187926.000000,1.604700e+07,951.000000,16373.000000,0.0,0.0,0.0,0.0,0.0

In [7]:
covid_all.columns

Index(['date', 'state', 'positive', 'probableCases', 'negative', 'pending',
       'totalTestResults', 'hospitalizedCurrently', 'hospitalizedCumulative',
       'inIcuCurrently', 'inIcuCumulative', 'onVentilatorCurrently',
       'onVentilatorCumulative', 'recovered', 'dataQualityGrade',
       'lastUpdateEt', 'dateModified', 'checkTimeEt', 'death', 'hospitalized',
       'dateChecked', 'totalTestsViral', 'positiveTestsViral',
       'negativeTestsViral', 'positiveCasesViral', 'deathConfirmed',
       'deathProbable', 'totalTestEncountersViral', 'totalTestsPeopleViral',
       'totalTestsAntibody', 'positiveTestsAntibody', 'negativeTestsAntibody',
       'totalTestsPeopleAntibody', 'positiveTestsPeopleAntibody',
       'negativeTestsPeopleAntibody', 'totalTestsPeopleAntigen',
       'positiveTestsPeopleAntigen', 'totalTestsAntigen',
       'positiveTestsAntigen', 'fips', 'positiveIncrease', 'negativeIncrease',
       'total', 'totalTestResultsSource', 'totalTestResultsIncrease', 'posNeg',
       'deathIncrease', 'hospitalizedIncrease', 'hash', 'commercialScore',
       'negativeRegularScore', 'negativeScore', 'positiveScore', 'score',
       'grade'],
      dtype='object')

In [8]:
# checking data types
covid_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12421 entries, 0 to 12420
Data columns (total 55 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   date                         12421 non-null  int64
 1   state                        12421 non-null  object
 2   positive                     12319 non-null  float64
 3   probableCases                3632 non-null   float64
 4   negative                     12181 non-null  float64
 5   pending                      1404 non-null   float64
 6   totalTestResults             12410 non-null  float64
 7   hospitalizedCurrently        9543 non-null   float64
 8   hospitalizedCumulative       7109 non-null   float64
 9   inIcuCurrently               5456 non-null   float64
 10  inIcuCumulative              2049 non-null   float64
 11  onVentilatorCurrently        4531 non-null   float64
 12  onVentilatorCumulative       714 non-null    float64
 13  recovered                    8587 non-null   float64
 14  dataQualityGrade             12421 non-null  object
 15  lastUpdateEt                 12421 non-null  object
 16  dateModified                 11994 non-null  object
 17  checkTimeEt                  11994 non-null  object
 18  death                        11669 non-null  float64
 19  hospitalized                 7109 non-null   float64
 20  dateChecked                  11994 non-null  object
 21  totalTestsViral              7020 non-null   float64
 22  positiveTestsViral           2826 non-null   float64
 23  negativeTestsViral           2080 non-null   float64
 24  positiveCasesViral           9514 non-null   float64
 25  deathConfirmed               5024 non-null   float64
 26  deathProbable                3614 non-null   float64
 27  totalTestEncountersViral     1961 non-null   float64
 28  totalTestsPeopleViral        4801 non-null   float64
 29  totalTestsAntibody           2120 non-null   float64
 30  positiveTestsAntibody        1545 non-null   float64
 31  negativeTestsAntibody        658 non-null    float64
 32  totalTestsPeopleAntibody     791 non-null    float64
 33  positiveTestsPeopleAntibody  469 non-null    float64
 34  negativeTestsPeopleAntibody  469 non-null    float64
 35  totalTestsPeopleAntigen      264 non-null    float64
 36  positiveTestsPeopleAntigen   251 non-null    float64
 37  totalTestsAntigen            449 non-null    float64
 38  positiveTestsAntigen         313 non-null    float64
 39  fips                         12421 non-null  object
 40  positiveIncrease             12421 non-null  int64
 41  negativeIncrease             12421 non-null  int64
 42  total                        12421 non-null  int64
 43  totalTestResultsSource       12421 non-null  object
 44  totalTestResultsIncrease     12421 non-null  int64
 45  posNeg                       12421 non-null  int64
 46  deathIncrease                12421 non-null  int64
 47  hospitalizedIncrease         12421 non-null  int64
 48  hash                         12421 non-null  object
 49  commercialScore              12421 non-null  int64
 50  negativeRegularScore         12421 non-null  int64
 51  negativeScore                12421 non-null  int64
 52  positiveScore                12421 non-null  int64
 53  score                        12421 non-null  int64
 54  grade                        12421 non-null  object
dtypes: float64(32), int64(13), object(10)
memory usage: 5.2+ MB

## Data Cleaning

### Removing the following columns as they don't return required data, as well as deprecated fields reported in the documentation:
#### Deprecated: 'checkTimeEt', 'commercialScore', 'dateChecked', 'dateModified', 'grade', 'hash', 'negativeIncrease', 'negativeRegularScore', 'negativeScore', 'posNeg', 'positiveScore','score', 'total', 'totalTestResultsSource'
#### Non-required: 

### Formating fields
#### date: datetime

In [9]:
# list of fields: all, not-required, and deprecated fields
all_fields = ['date', 'state', 'positive', 'probableCases', 'negative', 'pending',
       'totalTestResults', 'hospitalizedCurrently', 'hospitalizedCumulative',
       'inIcuCurrently', 'inIcuCumulative', 'onVentilatorCurrently',
       'onVentilatorCumulative', 'recovered', 'dataQualityGrade',
       'lastUpdateEt', 'dateModified', 'checkTimeEt', 'death', 'hospitalized',
       'dateChecked', 'totalTestsViral', 'positiveTestsViral',
       'negativeTestsViral', 'positiveCasesViral', 'deathConfirmed',
       'deathProbable', 'totalTestEncountersViral', 'totalTestsPeopleViral',
       'totalTestsAntibody', 'positiveTestsAntibody', 'negativeTestsAntibody',
       'totalTestsPeopleAntibody', 'positiveTestsPeopleAntibody',
       'negativeTestsPeopleAntibody', 'totalTestsPeopleAntigen',
       'positiveTestsPeopleAntigen', 'totalTestsAntigen',
       'positiveTestsAntigen', 'fips', 'positiveIncrease', 'negativeIncrease',
       'total', 'totalTestResultsSource', 'totalTestResultsIncrease', 'posNeg',
       'deathIncrease', 'hospitalizedIncrease', 'hash', 'commercialScore',
       'negativeRegularScore', 'negativeScore', 'positiveScore', 'score',
       'grade']
deprecated_fields = ['checkTimeEt', 'commercialScore', 'dateChecked', 'dateModified', 
                     'grade', 'hash', 'negativeIncrease', 'negativeRegularScore', 
                     'negativeScore', 'posNeg', 'positiveScore', 'score', 'total', 
                     'totalTestResultsSource']
non_required_fields = ['lastUpdateEt', 'totalTestsViral', 'positiveTestsViral', 
                       'negativeTestsViral', 'positiveCasesViral', 'probableCases', 'negative',
                       'pending', 'totalTestEncountersViral', 'totalTestsPeopleViral', 
                       'totalTestsAntibody', 'positiveTestsAntibody', 'negativeTestsAntibody',
                       'totalTestsPeopleAntibody', 'positiveTestsPeopleAntibody',
                       'negativeTestsPeopleAntibody', 'totalTestsPeopleAntigen', 
                       'positiveTestsPeopleAntigen','totalTestsAntigen', 'positiveTestsAntigen', 
                       'totalTestResultsIncrease']

In [10]:
filtered_fields = []
for i in all_fields:
    if i not in deprecated_fields and i not in non_required_fields:
        filtered_fields.append(i)
filtered_fields

['date',
 'state',
 'positive',
 'totalTestResults',
 'hospitalizedCurrently',
 'hospitalizedCumulative',
 'inIcuCurrently',
 'inIcuCumulative',
 'onVentilatorCurrently',
 'onVentilatorCumulative',
 'recovered',
 'dataQualityGrade',
 'death',
 'hospitalized',
 'deathConfirmed',
 'deathProbable',
 'fips',
 'positiveIncrease',
 'deathIncrease',
 'hospitalizedIncrease']

In [15]:
covid_df = covid_all[filtered_fields]
covid_df # still think 23 columns is a lot to deal with for the prohect

,date,state,positive,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,recovered,dataQualityGrade,death,hospitalized,deathConfirmed,deathProbable,fips,positiveIncrease,deathIncrease,hospitalizedIncrease
0,20201011,AK,10686.0,502997.0,57.0,NaN,NaN,NaN,7.0,NaN,5789.0,A,60.0,NaN,60.0,NaN,02,258,0,0
1,20201011,AL,165342.0,1210007.0,812.0,18179.0,NaN,1890.0,NaN,1067.0,71240.0,A,2664.0,18179.0,2508.0,156.0,01,816,0,0
2,20201011,AR,92833.0,1146654.0,566.0,5910.0,237.0,NaN,97.0,731.0,83454.0,A+,1569.0,5910.0,1421.0,148.0,05,613,17,10
3,20201011,AS,0.0,1616.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D,0.0,NaN,NaN,NaN,60,0,0,0
4,20201011,AZ,225575.0,1566165.0,630.0,20253.0,144.0,NaN,79.0,NaN,37110.0,A+,5759.0,20253.0,5472.0,287.0,04,597,0,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12416,20200124,WA,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,53,0,0,0
12417,20200123,MA,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,25,0,0,0
12418,20200123,WA,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,53,0,0,0
12419,20200122,MA,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,25,0,0,0
12420,20200122,WA,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,53,0,0,0

In [16]:
covid_df['date'] = pd.to_datetime(covid_df['date'], format='%Y%m%d')
covid_df.head()

/Users/emiliobello/opt/anaconda3/envs/NewPythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,date,state,positive,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,recovered,dataQualityGrade,death,hospitalized,deathConfirmed,deathProbable,fips,positiveIncrease,deathIncrease,hospitalizedIncrease
0,2020-10-11,AK,10686.0,502997.0,57.0,NaN,NaN,NaN,7.0,NaN,5789.0,A,60.0,NaN,60.0,NaN,02,258,0,0
1,2020-10-11,AL,165342.0,1210007.0,812.0,18179.0,NaN,1890.0,NaN,1067.0,71240.0,A,2664.0,18179.0,2508.0,156.0,01,816,0,0
2,2020-10-11,AR,92833.0,1146654.0,566.0,5910.0,237.0,NaN,97.0,731.0,83454.0,A+,1569.0,5910.0,1421.0,148.0,05,613,17,10
3,2020-10-11,AS,0.0,1616.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D,0.0,NaN,NaN,NaN,60,0,0,0
4,2020-10-11,AZ,225575.0,1566165.0,630.0,20253.0,144.0,NaN,79.0,NaN,37110.0,A+,5759.0,20253.0,5472.0,287.0,04,597,0,24

## Notes/Ideas:
* The quality grade they give to states could be use in color shades to indicate which state is more reliable with the information the provide